body {
  background-color: #b7e2d6;
}

h1 {
  color: #9800ff;
  text-align: center;
  font-family: "Comic Sans Ms";
  text-decoration: underline;
}

h2 {
  color: #b984f9;
  text-decoration: underline;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
}

a:hover{
  color: #ff1616;
}
