body {
  background-color: #b7e2d6;
  font-family: "Comic Sans Ms";
}

#MealsoftheDay {
  background-color: #fc8585;
}

#Preparation {
  background-color: #a0a3ff;
}

#Presentation {
  background-color: #ddf477;
}

h1 {
  color: #9800ff;
  text-align: center;
  font-family: "Comic Sans Ms";
  text-decoration: underline;
}

h2 {
  color: #b984f9;
  text-decoration: underline;
  text-align: center;
}

.different {
  color: #31916c;
}

h3, h4 {
  color: #31916c;
  text-decoration: underline;
  text-align: center;
}

table{
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
  border-style: groove;
  border-width: 12.5px;
  border-color: green;
  border-radius: 5px;
}

a:hover{
  color: #ff1616;
}

ol {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
}

footer {
  text-align: center;
}

.orderlist {
  list-style: none;
}
